@using WebTester.Models.Organizations.Enums
@model OrgHeadCount

<h3>Org Head Count</h3>

<table class="table table-bordered">
	<thread class="table-light">
		<tr>
			<th>Organizations</th>
			</tr>
	</thread>
	<tbody>
		<tr>
			<td>Count</td>
			<td>
				@Model.Count
			</td>
		</tr>
	</tbody>
</table>